.big-field {
    font-size: 24px; 
    /* Only lower border */
    border: 2px 2px 0 2px solid #ccc;
    font-weight: bold;  
    max-height: 50px;
}
.console {
    /* Use console font */
    font-family: "Lucida Console", Monaco, monospace;
}
